<div>
    <header>
        <h1>{{loc 'choose_result.title'}}</h1>
    </header>

    <p class='candela-dialog-help'>{{loc 'choose_result.help'}}</p>

    <div class='roll-dices'>
        <div class='roll-dice'>
            <h4>{{loc 'dice.base'}}</h4>
            <div class='roll-dice-counter'>
                <div class='roll-dice-counter-value base'>{{standard}}</div>
            </div>
        </div>

        <div class='roll-dice'>
            <h4>{{loc 'dice.gilded'}}</h4>
            <div class='roll-dice-counter'>
                <div class='roll-dice-counter-value gilded'>{{gilded}}</div>
            </div>
        </div>
    </div>
</div>