<form class='{{cssClass}} item-scar' autocomplete='off'>
    <header>
        <img src='{{item.img}}' data-edit='img' title='{{item.name}}' />
        <h1>
            <input name='name' type='text' value='{{item.name}}' placeholder='{{loc "name"}}' />
        </h1>
    </header>

    <section>
        <div class='co-fields'>
            <div class='co-field'>
                <label for='system.type'>{{loc 'type'}}:</label>
                <select name='system.type'>
                    {{#select item.system.type}}
                        <option value='role'>{{loc 'role'}}</option>
                        <option value='specialty'>{{loc 'specialty'}}</option>
                        <option value='circle'>{{loc 'circle'}}</option>
                    {{/select}}
                </select>
            </div>
            {{#if (eq item.system.type 'role')}}
                <div class='co-field'>
                    <label for='system.role'>{{loc 'role'}}:</label>
                    <select name='system.role'>
                        {{#select item.system.role}}
                            {{#each roles as |r|}}
                                <option value='{{r}}'>{{loc 'roles' r}}</option>
                            {{/each}}
                        {{/select}}
                    </select>
                </div>
            {{/if}}
            {{#if (eq item.system.type 'specialty')}}
                <div class='co-field'>
                    <label for='system.specialty'>{{loc 'specialty'}}:</label>
                    <select name='system.specialty'>
                        {{#select item.system.specialty}}
                            {{#each specialties as |s|}}
                                <option value='{{s}}'>{{loc 'specialties' s}}</option>
                            {{/each}}
                        {{/select}}
                    </select>
                </div>
            {{/if}}
            <div class='co-field big'>
                <label for='system.description'>{{loc 'description'}}:</label>
                {{editor
                    content=item.system.description
                    target='system.description'
                    rollData=rollData
                    button=true
                    owner=owner
                    editable=editable
                }}
            </div>
        </div>
    </section>
</form>